In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

%pylab inline


import statsmodels.formula.api as smf

Populating the interactive namespace from numpy and matplotlib

In [2]:
df1 = pd.read_csv('olist_orders_dataset.csv')

df2 = pd.read_csv('olist_order_payments_dataset.csv')
df3 = pd.read_csv('olist_order_items_dataset.csv')

df4 = pd.read_csv('olist_order_reviews_dataset.csv')

df5 = pd.read_csv('olist_customers_dataset.csv')

df6 = pd.read_csv('olist_products_dataset.csv')

In [5]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
customer_id                 99441 non-null object
customer_unique_id          99441 non-null object
customer_zip_code_prefix    99441 non-null int64
customer_city               99441 non-null object
customer_state              99441 non-null object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
order_id                         99441 non-null object
customer_id                      99441 non-null object
order_status                     99441 non-null object
order_purchase_timestamp         99441 non-null object
order_approved_at                99281 non-null object
order_delivered_carrier_date     97658 non-null object
order_delivered_customer_date    96476 non-null object
order_estimated_delivery_date    99441 non-null object
dtypes: object(8)
memory usage: 6.1+ MB

In [3]:
#first merge orders and payments table

inner_merge = pd.merge(df1, df2, on = 'order_id', how = 'inner')

In [4]:
#second merge orders, payments, customers tables
inner_merge2 = pd.merge(inner_merge, df5, on = 'customer_id', how = 'inner')

In [8]:
inner_merge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103886 entries, 0 to 103885
Data columns (total 16 columns):
order_id                         103886 non-null object
customer_id                      103886 non-null object
order_status                     103886 non-null object
order_purchase_timestamp         103886 non-null object
order_approved_at                103711 non-null object
order_delivered_carrier_date     101998 non-null object
order_delivered_customer_date    100754 non-null object
order_estimated_delivery_date    103886 non-null object
payment_sequential               103886 non-null int64
payment_type                     103886 non-null object
payment_installments             103886 non-null int64
payment_value                    103886 non-null float64
customer_unique_id               103886 non-null object
customer_zip_code_prefix         103886 non-null int64
customer_city                    103886 non-null object
customer_state                   103886 non-null object
dtypes: float64(1), int64(3), object(12)
memory usage: 13.5+ MB

In [5]:
#third merge previous 3 tables with order reviews table 

inner_merge3 = pd.merge(inner_merge2, df4, on = 'order_id', how = 'inner')

In [12]:
inner_merge3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104485 entries, 0 to 104484
Data columns (total 22 columns):
order_id                         104485 non-null object
customer_id                      104485 non-null object
order_status                     104485 non-null object
order_purchase_timestamp         104485 non-null object
order_approved_at                104309 non-null object
order_delivered_carrier_date     102587 non-null object
order_delivered_customer_date    101331 non-null object
order_estimated_delivery_date    104485 non-null object
payment_sequential               104485 non-null int64
payment_type                     104485 non-null object
payment_installments             104485 non-null int64
payment_value                    104485 non-null float64
customer_unique_id               104485 non-null object
customer_zip_code_prefix         104485 non-null int64
customer_city                    104485 non-null object
customer_state                   104485 non-null object
review_id                        104485 non-null object
review_score                     104485 non-null int64
review_comment_title             12151 non-null object
review_comment_message           43623 non-null object
review_creation_date             104485 non-null object
review_answer_timestamp          104485 non-null object
dtypes: float64(1), int64(4), object(17)
memory usage: 18.3+ MB

In [6]:
#fourth merge previous 4 tables with order items table 

inner_merge4 = pd.merge(inner_merge3, df3, on = 'order_id', how = 'inner')

In [14]:
inner_merge4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118315 entries, 0 to 118314
Data columns (total 28 columns):
order_id                         118315 non-null object
customer_id                      118315 non-null object
order_status                     118315 non-null object
order_purchase_timestamp         118315 non-null object
order_approved_at                118300 non-null object
order_delivered_carrier_date     117061 non-null object
order_delivered_customer_date    115727 non-null object
order_estimated_delivery_date    118315 non-null object
payment_sequential               118315 non-null int64
payment_type                     118315 non-null object
payment_installments             118315 non-null int64
payment_value                    118315 non-null float64
customer_unique_id               118315 non-null object
customer_zip_code_prefix         118315 non-null int64
customer_city                    118315 non-null object
customer_state                   118315 non-null object
review_id                        118315 non-null object
review_score                     118315 non-null int64
review_comment_title             14089 non-null object
review_comment_message           50665 non-null object
review_creation_date             118315 non-null object
review_answer_timestamp          118315 non-null object
order_item_id                    118315 non-null int64
product_id                       118315 non-null object
seller_id                        118315 non-null object
shipping_limit_date              118315 non-null object
price                            118315 non-null float64
freight_value                    118315 non-null float64
dtypes: float64(3), int64(5), object(20)
memory usage: 26.2+ MB

In [7]:
#fifth merge previous 5 tables with products table 

inner_merge5 = pd.merge(inner_merge4, df6, on = 'product_id', how = 'inner')

In [20]:
inner_merge5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118315 entries, 0 to 118314
Data columns (total 36 columns):
order_id                         118315 non-null object
customer_id                      118315 non-null object
order_status                     118315 non-null object
order_purchase_timestamp         118315 non-null object
order_approved_at                118300 non-null object
order_delivered_carrier_date     117061 non-null object
order_delivered_customer_date    115727 non-null object
order_estimated_delivery_date    118315 non-null object
payment_sequential               118315 non-null int64
payment_type                     118315 non-null object
payment_installments             118315 non-null int64
payment_value                    118315 non-null float64
customer_unique_id               118315 non-null object
customer_zip_code_prefix         118315 non-null int64
customer_city                    118315 non-null object
customer_state                   118315 non-null object
review_id                        118315 non-null object
review_score                     118315 non-null int64
review_comment_title             14089 non-null object
review_comment_message           50665 non-null object
review_creation_date             118315 non-null object
review_answer_timestamp          118315 non-null object
order_item_id                    118315 non-null int64
product_id                       118315 non-null object
seller_id                        118315 non-null object
shipping_limit_date              118315 non-null object
price                            118315 non-null float64
freight_value                    118315 non-null float64
product_category_name            116606 non-null object
product_name_lenght              116606 non-null float64
product_description_lenght       116606 non-null float64
product_photos_qty               116606 non-null float64
product_weight_g                 118295 non-null float64
product_length_cm                118295 non-null float64
product_height_cm                118295 non-null float64
product_width_cm                 118295 non-null float64
dtypes: float64(10), int64(5), object(21)
memory usage: 33.4+ MB

In [17]:
inner_merge5.isnull().sum().sum()

182649

In [18]:
olist_data_merge = inner_merge5.dropna()

In [19]:
olist_data_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11751 entries, 6 to 118306
Data columns (total 36 columns):
order_id                         11751 non-null object
customer_id                      11751 non-null object
order_status                     11751 non-null object
order_purchase_timestamp         11751 non-null object
order_approved_at                11751 non-null object
order_delivered_carrier_date     11751 non-null object
order_delivered_customer_date    11751 non-null object
order_estimated_delivery_date    11751 non-null object
payment_sequential               11751 non-null int64
payment_type                     11751 non-null object
payment_installments             11751 non-null int64
payment_value                    11751 non-null float64
customer_unique_id               11751 non-null object
customer_zip_code_prefix         11751 non-null int64
customer_city                    11751 non-null object
customer_state                   11751 non-null object
review_id                        11751 non-null object
review_score                     11751 non-null int64
review_comment_title             11751 non-null object
review_comment_message           11751 non-null object
review_creation_date             11751 non-null object
review_answer_timestamp          11751 non-null object
order_item_id                    11751 non-null int64
product_id                       11751 non-null object
seller_id                        11751 non-null object
shipping_limit_date              11751 non-null object
price                            11751 non-null float64
freight_value                    11751 non-null float64
product_category_name            11751 non-null object
product_name_lenght              11751 non-null float64
product_description_lenght       11751 non-null float64
product_photos_qty               11751 non-null float64
product_weight_g                 11751 non-null float64
product_length_cm                11751 non-null float64
product_height_cm                11751 non-null float64
product_width_cm                 11751 non-null float64
dtypes: float64(10), int64(5), object(21)
memory usage: 3.3+ MB

In [8]:


olist_data_info=inner_merge5[['customer_unique_id','order_purchase_timestamp','order_id','payment_value','payment_installments', 'payment_type', 'price', 'review_score', 'freight_value', 'product_weight_g']]

In [9]:
olist_data_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118315 entries, 0 to 118314
Data columns (total 10 columns):
customer_unique_id          118315 non-null object
order_purchase_timestamp    118315 non-null object
order_id                    118315 non-null object
payment_value               118315 non-null float64
payment_installments        118315 non-null int64
payment_type                118315 non-null object
price                       118315 non-null float64
review_score                118315 non-null int64
freight_value               118315 non-null float64
product_weight_g            118295 non-null float64
dtypes: float64(4), int64(2), object(4)
memory usage: 9.9+ MB

In [10]:
olist_data_info.isnull().sum().sum()

20

In [12]:
#USE

olist_df = olist_data_info.dropna()

In [15]:
olist_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118295 entries, 0 to 118314
Data columns (total 10 columns):
customer_unique_id          118295 non-null object
order_purchase_timestamp    118295 non-null datetime64[ns]
order_id                    118295 non-null object
payment_value               118295 non-null float64
payment_installments        118295 non-null int64
payment_type                118295 non-null object
price                       118295 non-null float64
review_score                118295 non-null int64
freight_value               118295 non-null float64
product_weight_g            118295 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 9.9+ MB

In [14]:
#used to change date 

olist_df['order_purchase_timestamp'] = pd.to_datetime(olist_df['order_purchase_timestamp'])
olist_df['order_purchase_timestamp'] = olist_df.order_purchase_timestamp.dt.date
olist_df['order_purchase_timestamp'] = pd.to_datetime(olist_df['order_purchase_timestamp'])

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [38]:
#new column

olist_df['first_purchase'] = olist_df['order_purchase_timestamp']

In [42]:
olist_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118295 entries, 0 to 118314
Data columns (total 11 columns):
customer_unique_id          118295 non-null object
order_purchase_timestamp    118295 non-null datetime64[ns]
order_id                    118295 non-null object
payment_value               118295 non-null float64
payment_installments        118295 non-null int64
payment_type                118295 non-null object
price                       118295 non-null float64
review_score                118295 non-null int64
freight_value               118295 non-null float64
product_weight_g            118295 non-null float64
first_purchase              118295 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(2), object(3)
memory usage: 10.8+ MB

In [40]:
olist_df.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,first_purchase
0,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.12,1,credit_card,29.99,4,8.72,500.0,2017-10-02
1,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,2.00,1,voucher,29.99,4,8.72,500.0,2017-10-02
2,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.59,1,voucher,29.99,4,8.72,500.0,2017-10-02
3,3a51803cc0d012c3b5dc8b7528cb05f7,2017-08-15,128e10d95713541c87cd1a2e48201934,37.77,3,credit_card,29.99,4,7.78,500.0,2017-08-15
4,ef0996a1a279c26e7ecbd737be23d235,2017-08-02,0e7e841ddf8f8f2de2bad69267ecfbcf,37.77,1,credit_card,29.99,5,7.78,500.0,2017-08-02

In [41]:
olist_df['first_purchase'].min()

Timestamp('2016-09-04 00:00:00')

In [ ]:
----------

In [17]:
##### #working on for capostone 3, merged orders, order_payments, order_items, products tables 

order_payments_products_merge = pd.merge(inner_merge2, df6, on = 'product_id', how = 'inner')

In [18]:
order_payments_products_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117601 entries, 0 to 117600
Data columns (total 26 columns):
order_id                         117601 non-null object
customer_id                      117601 non-null object
order_status                     117601 non-null object
order_purchase_timestamp         117601 non-null object
order_approved_at                117586 non-null object
order_delivered_carrier_date     116356 non-null object
order_delivered_customer_date    115034 non-null object
order_estimated_delivery_date    117601 non-null object
payment_sequential               117601 non-null int64
payment_type                     117601 non-null object
payment_installments             117601 non-null int64
payment_value                    117601 non-null float64
order_item_id                    117601 non-null int64
product_id                       117601 non-null object
seller_id                        117601 non-null object
shipping_limit_date              117601 non-null object
price                            117601 non-null float64
freight_value                    117601 non-null float64
product_category_name            115903 non-null object
product_name_lenght              115903 non-null float64
product_description_lenght       115903 non-null float64
product_photos_qty               115903 non-null float64
product_weight_g                 117581 non-null float64
product_length_cm                117581 non-null float64
product_height_cm                117581 non-null float64
product_width_cm                 117581 non-null float64
dtypes: float64(10), int64(3), object(13)
memory usage: 24.2+ MB

In [19]:
order_payments_products_merge.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,...,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,credit_card,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3,voucher,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2,voucher,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1,credit_card,...,29.99,7.78,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1,credit_card,...,29.99,7.78,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0

In [20]:
order_payments_products_merge.isnull().sum().sum()

10699

In [21]:
olist_data = order_payments_products_merge.dropna()

In [23]:
#used to change date to dt

olist_data['order_purchase_timestamp'] = pd.to_datetime(olist_data['order_purchase_timestamp'])
olist_data['order_purchase_timestamp'] = olist_data.order_purchase_timestamp.dt.date
olist_data['order_purchase_timestamp'] = pd.to_datetime(olist_data['order_purchase_timestamp'])

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [26]:
olist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113390 entries, 0 to 117600
Data columns (total 27 columns):
order_id                         113390 non-null object
customer_id                      113390 non-null object
order_status                     113390 non-null object
order_purchase_timestamp         113390 non-null datetime64[ns]
order_approved_at                113390 non-null object
order_delivered_carrier_date     113390 non-null object
order_delivered_customer_date    113390 non-null object
order_estimated_delivery_date    113390 non-null object
payment_sequential               113390 non-null int64
payment_type                     113390 non-null object
payment_installments             113390 non-null int64
payment_value                    113390 non-null float64
order_item_id                    113390 non-null int64
product_id                       113390 non-null object
seller_id                        113390 non-null object
shipping_limit_date              113390 non-null object
price                            113390 non-null float64
freight_value                    113390 non-null float64
product_category_name            113390 non-null object
product_name_lenght              113390 non-null float64
product_description_lenght       113390 non-null float64
product_photos_qty               113390 non-null float64
product_weight_g                 113390 non-null float64
product_length_cm                113390 non-null float64
product_height_cm                113390 non-null float64
product_width_cm                 113390 non-null float64
total_payment                    113390 non-null float64
dtypes: datetime64[ns](1), float64(11), int64(3), object(12)
memory usage: 24.2+ MB

In [25]:
#Calulate total purchase
olist_data['total_payment'] = olist_data['payment_value'] * olist_data['payment_installments']

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# question below

In [27]:
#*****question on how to have first 6 months data 


#USE, cltv_data gives correct days subtracted 

cltv_data = olist_data.groupby('customer_id').agg({'order_purchase_timestamp': lambda y: (olist_data['order_purchase_timestamp'].min().date() + 180).days,
                                        'order_id': lambda num: len(num),
                                        'payment_value': lambda quant: quant.sum(),
                                        'total_payment': lambda price: price.sum()})

In [43]:
#test
 

cltv_data_test = olist_data.groupby('customer_id').agg({'order_purchase_timestamp': lambda y: (olist_data['order_purchase_timestamp'].max().date() - y.max().date()).days,
                                        'order_id': lambda num: len(num),
                                        'price': lambda var: len(var),
                                        'payment_value': lambda quant: quant.sum(),
                                        'total_payment': lambda price: price.sum()})

In [42]:
cltv_data_test.tail()

,order_purchase_timestamp,order_id,payment_installments,payment_value,total_payment
customer_id,,,,,
fffcb937e9dd47a13f05ecb8290f4d3e,165,1,1,91.91,551.46
fffecc9f79fd8c764f843e9951b11341,153,3,3,81.36,81.36
fffeda5b6d849fbd39689bb92087f431,99,1,1,63.13,189.39
ffff42319e9b2d713724ae527742af25,77,1,1,214.13,428.26
ffffa3172527f765de70084a7e53aae8,361,2,2,91.00,364.00

In [38]:
#test

variables_data=cltv_data_test[['order_purchase_timestamp','order_id','payment_value','total_payment']]

In [39]:
variables_data.head()

,order_purchase_timestamp,order_id,payment_value,total_payment
customer_id,,,,
00012a2ce6f8dcda20d059ce98491703,288,1,114.74,917.92
000161a058600d5901f007fab4c27140,409,1,67.41,337.05
0001fd6190edaaf884bcaf3d49edf079,547,1,195.42,1954.20
0002414f95344307404f0ace7a26f1d5,378,1,179.35,179.35
000379cdec625522490c315e70c7a9fb,149,1,107.01,107.01

In [29]:
cltv_data.head()

,order_purchase_timestamp,order_id,payment_value,total_payment
customer_id,,,,
00012a2ce6f8dcda20d059ce98491703,288,1,114.74,917.92
000161a058600d5901f007fab4c27140,409,1,67.41,337.05
0001fd6190edaaf884bcaf3d49edf079,547,1,195.42,1954.20
0002414f95344307404f0ace7a26f1d5,378,1,179.35,179.35
000379cdec625522490c315e70c7a9fb,149,1,107.01,107.01

In [31]:
# Change the name of columns
cltv_data.columns=['num_days','num_transactions','payment_value','total_spent']
cltv_data.head()

,num_days,num_transactions,payment_value,total_spent
customer_id,,,,
00012a2ce6f8dcda20d059ce98491703,288,1,114.74,917.92
000161a058600d5901f007fab4c27140,409,1,67.41,337.05
0001fd6190edaaf884bcaf3d49edf079,547,1,195.42,1954.20
0002414f95344307404f0ace7a26f1d5,378,1,179.35,179.35
000379cdec625522490c315e70c7a9fb,149,1,107.01,107.01

In [32]:
# Average Order Value
cltv_data['avg_order_value']=cltv_data['total_spent']/cltv_data['num_transactions']

In [33]:
formula = 'total_spent ~ num_days + payment_value + avg_order_value'

fitted_model = smf.ols(formula=formula, data=cltv_data).fit()
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            total_spent   R-squared:                       0.661
Model:                            OLS   Adj. R-squared:                  0.661
Method:                 Least Squares   F-statistic:                 6.176e+04
Date:                Thu, 05 Dec 2019   Prob (F-statistic):               0.00
Time:                        16:00:39   Log-Likelihood:            -8.5298e+05
No. Observations:               95128   AIC:                         1.706e+06
Df Residuals:                   95124   BIC:                         1.706e+06
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        -300.9182     11.703    -25.713      0.000    -323.856    -277.980
num_days           -0.0119      0.040     -0.295      0.768      -0.091       0.067
payment_value       2.2308      0.011    206.910      0.000       2.210       2.252
avg_order_value     1.0659      0.004    262.553      0.000       1.058       1.074
==============================================================================
Omnibus:                   301308.336   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     174875936230.883
Skew:                          50.311   Prob(JB):                         0.00
Kurtosis:                    6644.507   Cond. No.                     3.44e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.44e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
-------------------------------