In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

%pylab inline


import statsmodels.formula.api as smf

Populating the interactive namespace from numpy and matplotlib

In [48]:
df1 = pd.read_csv('olist_orders_dataset.csv')

df2 = pd.read_csv('olist_order_payments_dataset.csv')
df3 = pd.read_csv('olist_order_items_dataset.csv')

df4 = pd.read_csv('olist_order_reviews_dataset.csv')

df5 = pd.read_csv('olist_customers_dataset.csv')

df6 = pd.read_csv('olist_products_dataset.csv')

In [67]:
df4.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [25]:
df1.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [51]:
df2.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [34]:
df3.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [49]:
#first merge orders and payments table

inner_merge = pd.merge(df1, df2, on = 'order_id', how = 'inner')

In [50]:
#second merge previous 2 tables with order items table 

inner_merge2 = pd.merge(inner_merge, df3, on = 'order_id', how = 'inner')

In [51]:
##### #working on for capostone 3, merged orders, order_payments, order_items, products tables 

order_payments_products_merge = pd.merge(inner_merge2, df6, on = 'product_id', how = 'inner')

In [6]:
order_payments_products_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117601 entries, 0 to 117600
Data columns (total 26 columns):
order_id                         117601 non-null object
customer_id                      117601 non-null object
order_status                     117601 non-null object
order_purchase_timestamp         117601 non-null object
order_approved_at                117586 non-null object
order_delivered_carrier_date     116356 non-null object
order_delivered_customer_date    115034 non-null object
order_estimated_delivery_date    117601 non-null object
payment_sequential               117601 non-null int64
payment_type                     117601 non-null object
payment_installments             117601 non-null int64
payment_value                    117601 non-null float64
order_item_id                    117601 non-null int64
product_id                       117601 non-null object
seller_id                        117601 non-null object
shipping_limit_date              117601 non-null object
price                            117601 non-null float64
freight_value                    117601 non-null float64
product_category_name            115903 non-null object
product_name_lenght              115903 non-null float64
product_description_lenght       115903 non-null float64
product_photos_qty               115903 non-null float64
product_weight_g                 117581 non-null float64
product_length_cm                117581 non-null float64
product_height_cm                117581 non-null float64
product_width_cm                 117581 non-null float64
dtypes: float64(10), int64(3), object(13)
memory usage: 24.2+ MB

In [50]:
order_payments_products_merge.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,...,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,credit_card,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3,voucher,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2,voucher,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1,credit_card,...,29.99,7.78,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1,credit_card,...,29.99,7.78,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0

In [52]:
order_payments_products_merge.isnull().sum().sum()

10699

In [53]:
olist_data = order_payments_products_merge.dropna()

In [8]:
olist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113390 entries, 0 to 117600
Data columns (total 26 columns):
order_id                         113390 non-null object
customer_id                      113390 non-null object
order_status                     113390 non-null object
order_purchase_timestamp         113390 non-null object
order_approved_at                113390 non-null object
order_delivered_carrier_date     113390 non-null object
order_delivered_customer_date    113390 non-null object
order_estimated_delivery_date    113390 non-null object
payment_sequential               113390 non-null int64
payment_type                     113390 non-null object
payment_installments             113390 non-null int64
payment_value                    113390 non-null float64
order_item_id                    113390 non-null int64
product_id                       113390 non-null object
seller_id                        113390 non-null object
shipping_limit_date              113390 non-null object
price                            113390 non-null float64
freight_value                    113390 non-null float64
product_category_name            113390 non-null object
product_name_lenght              113390 non-null float64
product_description_lenght       113390 non-null float64
product_photos_qty               113390 non-null float64
product_weight_g                 113390 non-null float64
product_length_cm                113390 non-null float64
product_height_cm                113390 non-null float64
product_width_cm                 113390 non-null float64
dtypes: float64(10), int64(3), object(13)
memory usage: 23.4+ MB

In [49]:
olist_data.head()

,customer_id,order_purchase_timestamp,order_id,payment_value,payment_installments,total_payment
0,9ef432eb6251297304e76186b10a928d,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.12,1,18.12
1,9ef432eb6251297304e76186b10a928d,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,2.00,1,2.00
2,9ef432eb6251297304e76186b10a928d,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.59,1,18.59
3,a20e8105f23924cd00833fd87daa0831,2017-08-15,128e10d95713541c87cd1a2e48201934,37.77,3,113.31
4,26c7ac168e1433912a51b924fbd34d34,2017-08-02,0e7e841ddf8f8f2de2bad69267ecfbcf,37.77,1,37.77

In [38]:
olist_test = olist_data.groupby('customer_id')

In [10]:



olist_data=olist_data[['customer_id','order_purchase_timestamp','order_id','payment_value','payment_installments']]

In [9]:

#wip

olist_data2=order_payments_products_merge[['customer_id','order_purchase_timestamp','order_id','payment_value','payment_installments', 'payment_type', 'price', 'freight_value', 'product_weight_g']]

In [16]:
olist_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117601 entries, 0 to 117600
Data columns (total 10 columns):
customer_id                 117601 non-null object
order_purchase_timestamp    117601 non-null datetime64[ns]
order_id                    117601 non-null object
payment_value               117601 non-null float64
payment_installments        117601 non-null int64
payment_type                117601 non-null object
price                       117601 non-null float64
freight_value               117601 non-null float64
product_weight_g            117581 non-null float64
total_payment               117601 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 9.9+ MB

In [15]:
#Calulate total purchase
olist_data2['total_payment'] = olist_data2['payment_value'] * olist_data2['payment_installments']

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
#USE, cltv_data gives correct days subtracted 

cltv_data2 = olist_data2.groupby('customer_id').agg({'order_purchase_timestamp': lambda y: (olist_data2['order_purchase_timestamp'].max().date() - y.max().date()).days,
                                        'order_id': lambda num: len(num),
                                        'price': lambda var: len(var),
                                        'payment_value': lambda quant: quant.sum(),
                                        'total_payment': lambda price: price.sum()})

In [32]:
cltv_data2.tail()

,order_purchase_timestamp,order_id,price,payment_value,total_payment
customer_id,,,,,
fffcb937e9dd47a13f05ecb8290f4d3e,170,1,1.0,91.91,551.46
fffecc9f79fd8c764f843e9951b11341,158,3,3.0,81.36,81.36
fffeda5b6d849fbd39689bb92087f431,104,1,1.0,63.13,189.39
ffff42319e9b2d713724ae527742af25,82,1,1.0,214.13,428.26
ffffa3172527f765de70084a7e53aae8,366,2,2.0,91.00,364.00

In [11]:
#used to change date 

olist_data2['order_purchase_timestamp'] = pd.to_datetime(olist_data2['order_purchase_timestamp'])
olist_data2['order_purchase_timestamp'] = olist_data.order_purchase_timestamp.dt.date
olist_data2['order_purchase_timestamp'] = pd.to_datetime(olist_data2['order_purchase_timestamp'])

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

AttributeError: Can only use .dt accessor with datetimelike values

In [60]:
#Calulate total purchase
olist_data['total_payment'] = olist_data['payment_value'] * olist_data['payment_installments']

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [61]:
olist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113390 entries, 0 to 117600
Data columns (total 27 columns):
order_id                         113390 non-null object
customer_id                      113390 non-null object
order_status                     113390 non-null object
order_purchase_timestamp         113390 non-null datetime64[ns]
order_approved_at                113390 non-null object
order_delivered_carrier_date     113390 non-null object
order_delivered_customer_date    113390 non-null object
order_estimated_delivery_date    113390 non-null object
payment_sequential               113390 non-null int64
payment_type                     113390 non-null object
payment_installments             113390 non-null int64
payment_value                    113390 non-null float64
order_item_id                    113390 non-null int64
product_id                       113390 non-null object
seller_id                        113390 non-null object
shipping_limit_date              113390 non-null object
price                            113390 non-null float64
freight_value                    113390 non-null float64
product_category_name            113390 non-null object
product_name_lenght              113390 non-null float64
product_description_lenght       113390 non-null float64
product_photos_qty               113390 non-null float64
product_weight_g                 113390 non-null float64
product_length_cm                113390 non-null float64
product_height_cm                113390 non-null float64
product_width_cm                 113390 non-null float64
total_payment                    113390 non-null float64
dtypes: datetime64[ns](1), float64(11), int64(3), object(12)
memory usage: 24.2+ MB

In [46]:
#used to change date 

olist_data['order_purchase_timestamp'] = pd.to_datetime(olist_data['order_purchase_timestamp'])
olist_data['order_purchase_timestamp'] = olist_data.order_purchase_timestamp.dt.date
olist_data['order_purchase_timestamp'] = pd.to_datetime(olist_data['order_purchase_timestamp'])

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [45]:
olist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113390 entries, 0 to 117600
Data columns (total 26 columns):
order_id                         113390 non-null object
customer_id                      113390 non-null object
order_status                     113390 non-null object
order_purchase_timestamp         113390 non-null object
order_approved_at                113390 non-null object
order_delivered_carrier_date     113390 non-null object
order_delivered_customer_date    113390 non-null object
order_estimated_delivery_date    113390 non-null object
payment_sequential               113390 non-null int64
payment_type                     113390 non-null object
payment_installments             113390 non-null int64
payment_value                    113390 non-null float64
order_item_id                    113390 non-null int64
product_id                       113390 non-null object
seller_id                        113390 non-null object
shipping_limit_date              113390 non-null object
price                            113390 non-null float64
freight_value                    113390 non-null float64
product_category_name            113390 non-null object
product_name_lenght              113390 non-null float64
product_description_lenght       113390 non-null float64
product_photos_qty               113390 non-null float64
product_weight_g                 113390 non-null float64
product_length_cm                113390 non-null float64
product_height_cm                113390 non-null float64
product_width_cm                 113390 non-null float64
dtypes: float64(10), int64(3), object(13)
memory usage: 23.4+ MB

In [19]:
olist_data.head()

,customer_id,order_purchase_timestamp,order_id,payment_value,payment_installments,total_payment
0,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,18.12,1,18.12
1,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,2.00,1,2.00
2,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,18.59,1,18.59
3,a20e8105f23924cd00833fd87daa0831,2017-08-15 18:29:31,128e10d95713541c87cd1a2e48201934,37.77,3,113.31
4,26c7ac168e1433912a51b924fbd34d34,2017-08-02 18:24:47,0e7e841ddf8f8f2de2bad69267ecfbcf,37.77,1,37.77

In [21]:
#doesnt give correct days subtracted, only shows 0 

olist_data_group=olist_data.groupby('customer_id').agg({'order_purchase_timestamp': lambda date: (date.max() - date.min()).days,
                                        'order_id': lambda num: len(num),
                                        'payment_value': lambda quant: quant.sum(),
                                        'total_payment': lambda price: price.sum()})

In [ ]:
#scrap

cltv_data = olist_data.groupby('customer_id').agg({'order_purchase_timestamp': lambda y: (olist_data['order_purchase_timestamp'].max().date() - y.max().date()).days,
                                              'order_id': lambda num: len(num),
                                        'payment_value': lambda quant: quant.sum(),
                                        'total_payment': lambda price: price.sum()})

RFM.columns = ['Recency', 'Frequency', 'Monetary']
RFM = RFM.sort_values('Monetary', ascending=False)
RFM.head()

In [58]:
olist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113390 entries, 0 to 117600
Data columns (total 26 columns):
order_id                         113390 non-null object
customer_id                      113390 non-null object
order_status                     113390 non-null object
order_purchase_timestamp         113390 non-null datetime64[ns]
order_approved_at                113390 non-null object
order_delivered_carrier_date     113390 non-null object
order_delivered_customer_date    113390 non-null object
order_estimated_delivery_date    113390 non-null object
payment_sequential               113390 non-null int64
payment_type                     113390 non-null object
payment_installments             113390 non-null int64
payment_value                    113390 non-null float64
order_item_id                    113390 non-null int64
product_id                       113390 non-null object
seller_id                        113390 non-null object
shipping_limit_date              113390 non-null object
price                            113390 non-null float64
freight_value                    113390 non-null float64
product_category_name            113390 non-null object
product_name_lenght              113390 non-null float64
product_description_lenght       113390 non-null float64
product_photos_qty               113390 non-null float64
product_weight_g                 113390 non-null float64
product_length_cm                113390 non-null float64
product_height_cm                113390 non-null float64
product_width_cm                 113390 non-null float64
dtypes: datetime64[ns](1), float64(10), int64(3), object(12)
memory usage: 23.4+ MB

In [57]:
olist_data['order_purchase_timestamp'] = pd.to_datetime(olist_data['order_purchase_timestamp'])
olist_data['order_purchase_timestamp'] = olist_data.order_purchase_timestamp.dt.date
olist_data['order_purchase_timestamp'] = pd.to_datetime(olist_data['order_purchase_timestamp'])

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [62]:
#*****question on how to have first 6 months data 


#USE, cltv_data gives correct days subtracted 

cltv_data = olist_data.groupby('customer_id').agg({'order_purchase_timestamp': lambda y: (olist_data['order_purchase_timestamp'].max().date() - y.max().date()).days,
                                        'order_id': lambda num: len(num),
                                        'payment_value': lambda quant: quant.sum(),
                                        'total_payment': lambda price: price.sum()})

In [63]:
cltv_data.tail(10)

,order_purchase_timestamp,order_id,payment_value,total_payment
customer_id,,,,
fff89c8ed4fcf69a823c1d149e429a0b,256,1,44.10,176.40
fff906ecb75de5809be384e0f8d65e45,170,1,102.13,102.13
fff93c1da78dafaaa304ff032abc6205,77,3,727.44,7274.40
fffa0238b217e18a8adeeda0669923a3,352,1,43.72,43.72
fffb97495f78be80e2759335275df2aa,225,1,61.01,183.03
fffcb937e9dd47a13f05ecb8290f4d3e,165,1,91.91,551.46
fffecc9f79fd8c764f843e9951b11341,153,3,81.36,81.36
fffeda5b6d849fbd39689bb92087f431,99,1,63.13,189.39
ffff42319e9b2d713724ae527742af25,77,1,214.13,428.26
ffffa3172527f765de70084a7e53aae8,361,2,91.00,364.00

In [70]:
# Change the name of columns
cltv_data.columns=['num_days','num_transactions','payment_value','total_spent']
cltv_data.head()

,num_days,num_transactions,payment_value,total_spent
customer_id,,,,
00012a2ce6f8dcda20d059ce98491703,288,1,114.74,917.92
000161a058600d5901f007fab4c27140,409,1,67.41,337.05
0001fd6190edaaf884bcaf3d49edf079,547,1,195.42,1954.20
0002414f95344307404f0ace7a26f1d5,378,1,179.35,179.35
000379cdec625522490c315e70c7a9fb,149,1,107.01,107.01

In [71]:
# Average Order Value
cltv_data['avg_order_value']=cltv_data['total_spent']/cltv_data['num_transactions']

In [64]:
cltv_data.head(10)

,order_purchase_timestamp,order_id,payment_value,total_payment
customer_id,,,,
00012a2ce6f8dcda20d059ce98491703,288,1,114.74,917.92
000161a058600d5901f007fab4c27140,409,1,67.41,337.05
0001fd6190edaaf884bcaf3d49edf079,547,1,195.42,1954.20
0002414f95344307404f0ace7a26f1d5,378,1,179.35,179.35
000379cdec625522490c315e70c7a9fb,149,1,107.01,107.01
0004164d20a9e969af783496f3408652,504,1,71.80,71.80
000419c5494106c306a97b5635748086,180,1,49.40,197.60
00046a560d407e99b969756e0b10f282,254,1,166.59,832.95
00050bf6e01e69d5c0fd612f1bcfb69c,346,1,85.23,681.84
000598caf2ef4117407665ac33275130,18,1,1255.71,12557.10

In [72]:
formula = 'total_spent ~ num_days + payment_value + avg_order_value'

fitted_model = smf.ols(formula=formula, data=cltv_data).fit()
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            total_spent   R-squared:                       0.661
Model:                            OLS   Adj. R-squared:                  0.661
Method:                 Least Squares   F-statistic:                 6.176e+04
Date:                Thu, 05 Dec 2019   Prob (F-statistic):               0.00
Time:                        16:01:24   Log-Likelihood:            -8.5298e+05
No. Observations:               95128   AIC:                         1.706e+06
Df Residuals:                   95124   BIC:                         1.706e+06
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        -300.9182     11.703    -25.713      0.000    -323.856    -277.980
num_days           -0.0119      0.040     -0.295      0.768      -0.091       0.067
payment_value       2.2308      0.011    206.910      0.000       2.210       2.252
avg_order_value     1.0659      0.004    262.553      0.000       1.058       1.074
==============================================================================
Omnibus:                   301308.336   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     174875936230.883
Skew:                          50.311   Prob(JB):                         0.00
Kurtosis:                    6644.507   Cond. No.                     3.44e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.44e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [32]:
purchase_frequency=sum(cltv_data['num_transactions'])/cltv_data.shape[0]

In [36]:
purchase_frequency

1.191972920696325

In [37]:
# Repeat Rate
repeat_rate=[cltv_data.num_transactions > 1].shape[0]/cltv_data.shape[0]

AttributeError: 'list' object has no attribute 'shape'

repeat_rate

In [38]:
# Profit Margin
cltv_data['profit_margin']=cltv_data['total_spent']*0.05

In [39]:
cltv_data.head()

,num_days,num_transactions,payment_value,total_spent,avg_order_value,profit_margin
customer_id,,,,,,
00012a2ce6f8dcda20d059ce98491703,288,1,114.74,917.92,917.92,45.8960
000161a058600d5901f007fab4c27140,409,1,67.41,337.05,337.05,16.8525
0001fd6190edaaf884bcaf3d49edf079,547,1,195.42,1954.20,1954.20,97.7100
0002414f95344307404f0ace7a26f1d5,378,1,179.35,179.35,179.35,8.9675
000379cdec625522490c315e70c7a9fb,149,1,107.01,107.01,107.01,5.3505

In [ ]:
# Customer Value
cltv_data['CLV']=(cltv_data['avg_order_value']*purchase_frequency)/churn_rate